<div class="w100 h100 right-bar">
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-badge [nzCount]="5">
      <nz-avatar nzIcon="user"></nz-avatar>
    </nz-badge>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking1021</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-badge [nzCount]="6">
      <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </nz-badge>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weikingXDD</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-badge [nzCount]="7">
      <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    </nz-badge>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-badge [nzCount]="8">
      <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    </nz-badge>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-badge [nzCount]="9">
      <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    </nz-badge>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
  <div class="w100" style="padding: 4px 0px; border-bottom: 1px solid; border-color: DARKGRAY;">
    <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    <div style="display: inline-block; padding: 0px 8px">
      <span style="font-size: 18px">weiking7355608</span>
    </div>
  </div>
</div>
